.footer {
  color: #fff;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > * {
    padding: 5px;
  }

  .common-info {
    ul {
      display: flex;
      gap: 16px;
      list-style: none;

      li {
        font-size: 15px;
        text-shadow: 0 0 1px #fff;
      }
    }
  }

  .stores {
    display: flex;
    gap: 10px;
  }

  .copyright {
    color: darken(#fff, 50%);
    font-size: 12px;
  }
}
