<footer class="footer">
  <div class="logo">
    <img src="../../../assets/logo.png" alt="Dreadful Tomato" />
  </div>
  <div class="common-info">
    <ul>
      <li>Home</li>
      <li>Terms of use</li>
      <li>Legal Notisces</li>
      <li>Help</li>
      <li>Manage Account</li>
    </ul>
  </div>
  <div class="stores">
    <div class="stores-button">
      <img src="../../../assets/app store.png" />
    </div>
    <div class="stores-button">
      <img src="../../../assets/google-play.png" />
    </div>
  </div>
  <div class="copyright">
    <span>Copyright 2020 Dreadful Tomato Streaming. All Rights Reserved</span>
  </div>
</footer>
